body{
    background-color: rgb(255, 255, 255);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content{
    flex: 1;
    background-color: rgb(255, 255, 255);
}
footer{
    color: black;
    background-color: rgb(195, 154, 233);
    width: 100%;
    position: fixed;bottom: 2px;
    width: 100%;
}

.column{
    float: left;
    width: 50%;
    padding: 20;
    padding-top: 5%;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.row1{
    padding-inline: 20px;
}