
.navbar{
    background-color: rgb(195, 154, 233);
    overflow: hidden;
    position: fixed;
    top: 0%;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #de6dc5;
    color: rgb(255, 255, 255);
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #e877c8;
    color: white;
  }
  .img{
    position: fixed;
    bottom: 5%;
    width: 0%;
  }