footer{
    position: absolute;
    text-align: center;
    bottom: 0;
}
.navbar{
    background-color: rgb(195, 154, 233);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #de6dc5;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #e877c8;
    color: white;
  }